.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);

  opacity: 1;
  transform: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.1);
  }
}

.off_overflow {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;

  max-width: 450px;
  max-height: 609px;

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }

  background-color: #fff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  width: 18px;
  height: 18px;

  fill: #000000;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cls-btn {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--link-color);
  }

  &:hover .icon-close,
  &:focus .icon-close {
    fill: #fff;
  }
}
