.team-group {
  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
  }
  @media screen and (min-width: 1200px) {
    --items: 4;
  }

  // padding-inline-start: unset;
}

.team-card {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &-pdg {
    padding: 30px 0;
  }
}
