body {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  //mobile screen  450+2*15

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  //tablet screen 738+2*15

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
