:root {
	--ftr-background-color: #2f303a;
	--sect-wwd-bgc: #e5e5e5;
	--sect-ourteam-bgc: #f5f4fa;
	--link-color: #2196f3;
	--h-color: #212121;
	--main-text-color: #757575;
	--secondary-color: #ffffff;
	--items: 3;
	--indent: 30px;
}

