.features.paddings {
  padding-bottom: 0;
}

.features__title {
  color: var(--h-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;

    @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features__group {
  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
  }

  @media screen and (min-width: 1200px) {
    --items: 4;
  }
 
}


.features-box__icon {
  width: 70px;
  height: 70px;
  fill: #212121;
}

.features-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sect-ourteam-bgc);
  border-radius: 4px;
  height: 120px;
}
