.nav-link {
	display: flex;
	flex-direction: column;
	color: var(--h-color);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&.current {
			color: var(--link-color);
		}

		&,
&.current {
	font-style: normal;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-decoration: none;
	padding: 32px 0;
}

&:hover,
&:focus,
&.current:hover,
&.current:focus {
	color: var(--link-color);
}
}


.nav-content {
	display: flex;
}

.nav-content-list {
	position: relative;

	&:not(:last-child) {
	margin-right: 50px;
	padding-inline-start: unset;
}
}

.nav-link.current::after {
	content: "";
	display: inline-block;

	position: absolute;
	bottom: 0;
	left: 0;

	height: 4px;
	width: 100%;
	border-radius: 2px;

	background-color: var(--link-color);
}