.list-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.bottom-line {
  border-bottom: 1px solid #ececec;
}

.paddings {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-name {
  color: var(--h-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.product-group {
  padding-inline-start: unset;
  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
  }

  @media screen and (min-width: 1200px) {
    --items: 3;
  }
}

.product-name {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.current-product {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .product-desc {
    transform: translateY(0);
  }
}

.product-desc {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;

  width: 100%;
  height: 100%;

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-cont {
  position: relative;

  overflow: hidden;
}
